/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.*
.phpunit.result.cache
.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/*.code-workspace
docker/mysql/data/
.DS_Store
Thumbs.db

/bootstrap/cache/*
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/debugbar
/storage/app/public

/database/*.sqlite